@font-face {
  font-family: "Circular";
  src: url("https://www.bu.edu/cdn/fonts/Circular/Circular-Bold.eot");
  src: url("https://www.bu.edu/cdn/fonts/Circular/Circular-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("https://www.bu.edu/cdn/fonts/Circular/Circular-Bold.woff")
      format("woff"),
    url("https://www.bu.edu/cdn/fonts/Circular/Circular-Bold.ttf")
      format("truetype");
  font-style: normal;
  font-weight: 700;
}

body {
  font-family: "Circular", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
}

/*********** NAVIGATION STYLING ***********/

#navigation {
  background-color: #000;
  width: 230px;
  height: 100%;
  font-weight: bold;
  position: fixed;
  display: block;
  left: 0;
  z-index: 999;
}

#navigation svg {
  margin-right: 20px;
}

@media (max-width: 576px) {
  #navigation {
    display: none;
  }
}

.navbar-wrapper {
  height: 100%;
}

.navbar-logo-wrapper {
  padding: 30px;
}

.navbar-logo {
  fill: currentColor;
  color: #fff;
}

ul {
  padding-left: 0;
}

ul li {
  list-style-type: none;
  transition: border 0.25s ease;
}

#navigation .nav-links ul li {
  width: 100%;
  padding: 10px 0px;
}

#navigation ul li a {
  display: flex;
  align-items: center;
}

#navigation .nav-footer ul li {
  display: inline-block;
  font-size: 14px;
  margin: 0;
  width: 40%;
}

#navigation .nav-footer ul li a {
  margin: 0;
}

.fa-home,
.fa-search,
.fa-record-vinyl {
  margin-right: 14px;
}

ul li a {
  color: rgba(214, 214, 214, 0.877);
  padding: 10px 0px;
  margin-left: 34px;
  transition: color 0.25s ease;
}

ul li a:hover {
  color: #fff;
  text-decoration: none;
}

ul li.active {
  border-left: 6px solid #1ed760;
}

ul li.active a {
  margin-left: 28px;
}

.nav-links {
  min-height: 60%;
}

button {
  border-radius: 30px;
  padding: 6px 0px;
  margin-bottom: 20px;
  border: 1px solid #fff;
  letter-spacing: 1px;
  font-size: 0.9rem;
  transition: background 0.25s ease, border 0.25s ease;
}

#sign-up {
  background-color: #fff;
}

#sign-up:hover {
  background-color: #1ed760;
  border: 1px solid #1ed760;
}

#log-in {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}

#log-in:hover {
  background: rgba(255, 255, 255, 0.2);
}

.brdr-r {
  border-right: 1px solid rgba(255, 255, 255, 0.103);
}

/*****************************************************/

/*********** MAIN CONTAINER STYLING ***********/

aside {
  height: 100%;
  min-height: 100vh;
  width: calc(100% - 230px);
  position: relative;
  left: 230px;
  z-index: 0;
  padding: 50px;
}

@media (max-width: 576px) {
  aside {
    left: 0;
    width: 100%;
  }
}

.trending-bg {
  background-color: #04487c;
  background-image: linear-gradient(
    180deg,
    #04487c 0%,
    #305494 21%,
    #010e17 58%,
    #010e17 100%
  );
}

.podcasts-bg {
  background-color: #7c4c04;
  background-image: linear-gradient(
    180deg,
    #7c4c04 0%,
    #946c30 21%,
    #171101 58%,
    #171001 100%
  );
}

.moods-bg {
  background-color: #047c72;
  background-image: linear-gradient(
    180deg,
    #047c72 0%,
    #30947e 21%,
    #011710 58%,
    #011710 100%
  );
}

.newreleases-bg {
  background-color: #60047c;
  background-image: linear-gradient(
    180deg,
    #60047c 0%,
    #6c3094 21%,
    #100117 58%,
    #100117 100%
  );
}

.discover-bg {
  background-color: #1c7c04;
  background-image: linear-gradient(
    180deg,
    #1c7c04 0%,
    #4c9430 21%,
    #0a1701 58%,
    #091701 100%
  );
}

.content-wrapper {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 1rem;
  padding: 3rem;
}

@media (min-width: 992px) {
  .col-lg-custom {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
}

/*********** MAIN CONTAINER NAVIGATION STYLING ***********/

.home-nav {
  width: 100%;
}

#main-container ul li a {
  margin: 0;
  padding: 10px 20px;
  letter-spacing: 1px;
}

#main-container .nav-tabs {
  border: none;
  background-color: transparent;
  margin-bottom: 4rem;
}

#main-container .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
  border: none;
}

#main-container .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: transparent;
  color: #fff;
  border: none;
}

#main-container a::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 40%;
  transform: translateY(-20px);
  border-bottom: 3px solid transparent;
  transition: border 0.25s ease, transform 0.25s ease;
}

#main-container a.active::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 60%;
  transform: translateY(6px);
  border-bottom: 3px solid #1ed760;
}

#main-container .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link:hover {
  border: none;
}

/*****************************************************/

/*********** MAIN CONTAINER STYLING ***********/

h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
}

#main-container h2,
#search h2,
#your-library h2 {
  letter-spacing: -5px;
  line-height: 4rem;
  font-size: 4rem;
  user-select: none;
}

#main-container h3,
#search h3,
#your-library h3 {
  letter-spacing: -2px;
  user-select: none;
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  color: rgba(214, 214, 214, 0.877);
  font-family: helvetica;
  margin: 0;
}

#main-container img,
#search img {
  border-radius: 4px;
}

#main-container .tab-content > .active {
  width: 100%;
}

#main-container .album-header-wrapper a {
  color: rgba(214, 214, 214, 0.877);
  text-decoration: none;
  transition: color 0.25s ease;
}

#main-container .album-header-wrapper a:hover {
  color: #fff;
}

#main-container .img-full {
  width: 100%;
}

#main-container .expand-section {
  color: #fff;
}

#main-container .album-card,
#search-content .album-card,
#artist-page .album-card {
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20px;
  transform: scale(1);
  transition: transform 0.25s ease, background-color 0.25s ease;
  cursor: pointer;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 306px;
}

@media (min-width: 1500px) {
  #main-container .col-xxl-2 {
    flex: 0 0 16.666667%;
    max-width: 306px;
    min-width: 306px;
  }
}

#search-content .album-card h5,
#artist-page .album-card h5 {
  margin-top: 1rem !important;
}

#main-container .album-card:hover,
#search-content .album-card:hover,
#artist-page .album-card:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.1);
}

#main-container .album-card h5,
#search-content .album-card h5 {
  margin-top: 10px;
}

#main-container div.album-header-wrapper:not(:first-child) {
  margin-top: 5rem;
}

/*****************************************************/

/*********** SEARCH CONTAINER STYLING ***********/

aside#search {
  background-color: #0f0f0f;
  background-image: linear-gradient(135deg, #0f0f0f 0%, #1b1b1b 100%);
}

#search .top-wrapper input,
#your-library .top-wrapper input {
  padding: 14px 20px 14px 45px;
  border-radius: 30px;
  border: none;
  width: 400px;
  outline: none;
  font-family: Helvetica, sans-serif;
}

@media (max-width: 768px) {
  #search .top-wrapper input,
  #your-library .top-wrapper input {
    width: 100%;
  }
}

#search .top-wrapper .search-bar,
#your-library .top-wrapper .search-bar {
  position: relative;
}

#search .top-wrapper .search-bar .fa-search,
#your-library .top-wrapper .search-bar .fa-search {
  position: absolute;
  left: 16px;
  top: 18px;
}

#search .browse-card {
  height: 180px;
  width: 180px;
  border-radius: 6px;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  transform: scale(1);
  transition: transform 0.25s ease;
  position: relative;
  vertical-align: top;
}

#search .browse-card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.4) 10%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: -1;
}

#search .browse-card h4 {
  white-space: pre-wrap;
}

@media (max-width: 768px) {
  #search .browse-card {
    width: 100%;
    margin-right: 0;
  }
}

#search .browse-card:hover {
  transform: scale(1.05);
}

#search .browse-card #search .row {
  margin-bottom: 1rem;
}

#artist-header {
  opacity: 0;
  transition: opacity 0.25s ease;
}

#artist-row .album-card {
  min-width: 180px;
  max-width: 250px;
}

#tracks-header {
  opacity: 0;
  transition: opacity 0.25s ease;
}

#search .artist-shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

/*****************************************************/

/*********** YOUR LIBRARY STYLING ***********/

aside#your-library {
  background-color: #0f0f0f;
  background-image: linear-gradient(135deg, #0f0f0f 0%, #1b1b1b 100%);
}

#your-library ul li {
  display: inline-block;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
}

#your-library ul li a,
#your-library ul {
  margin: 0;
  border-radius: 6px;
  transition: background-color 0.25s ease;
  border: none;
}

#your-library ul li a.active {
  background-color: rgba(255, 255, 255, 0.05);
}

/*********** ARTIST PAGE STYLING***********/

aside#artist-page {
  background-color: #181818;
  padding: 0;
}

#artist-page h1 {
  font-size: 5rem;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  letter-spacing: -2px;
}

#artist-page h2 {
  font-size: 3rem;
  letter-spacing: -2px;
}

#artist-page .album-art-jumbotron {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-repeat: no-repeat;
  background-position: right top 20%;
  background-size: cover;
  object-fit: cover;
}

#artist-page .album-art-jumbotron::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50vh;
  background-image: linear-gradient(0deg, #181818 10%, rgba(0, 0, 0, 0) 50%);
}

#artist-page .album-art-jumbotron::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.2;
  background-color: #181818;
}

#artist-page .album-art-jumbotron h1 {
  z-index: 5;
  position: relative;
  color: #fff;
}

#artist-page button {
  position: relative;
  z-index: 5;
  color: #fff;
  padding: 14px 20px;
  width: 200px;
  margin: 0px 10px;
}

#artist-page button:focus {
  box-shadow: none;
}

#artist-page .btn-play {
  background-color: #1db954;
  border-radius: 50px;
  border: none;
  transform: scale(1);
  transition: transform 0.25s ease, background-color 0.25s ease;
}

#artist-page .btn-play:hover {
  background-color: #22ad53;
  transform: scale(1.02);
}

#artist-page .btn-follow {
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid #fff;
  border-radius: 50px;
  opacity: 0.8;
  transform: scale(1);
  transition: transform 0.25s ease, opacity 0.25s ease;
}

#artist-page .btn-follow:hover {
  opacity: 1;
  transform: scale(1.02);
}

#artist-page .btn-more {
  border: none;
  width: 50px;
  margin-top: -20px;
  margin-left: 10px;
  font-size: 2rem;
  padding: 0;
}

#artist-page .artist-links {
  position: absolute;
  top: 42vh;
  z-index: 5;
  left: 0;
  right: 0;
  text-align: center;
}

#artist-page .artist-links ul li {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  margin: 0rem 4rem;
  pointer-events: none;
}

#artist-page .artist-links ul li.first-li {
  color: rgba(255, 255, 255, 1);
}

#artist-page .first-li::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 60%;
  transform: translateY(6px);
  border-bottom: 3px solid #1ed760;
}

#artist-page .album-wrapper {
  padding: 50px 100px;
  position: relative;
  z-index: 2;
}

#artist-page .container.albums-container {
  max-width: 1500px;
}

#artist-page .album-card {
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
}

#artist-page .albumid {
  position: absolute;
  z-index: -1;
  visibility: hidden;
}

/*****************************************************/

/*********** ARTIST PAGE STYLING***********/

aside#tracklist-page {
  background-color: #0f0f0f;
  background-image: linear-gradient(180deg, #1b1b1b 0%, #0f0f0f 100%);
  color: white;
}

aside#tracklist-page img {
}

#tracklist-page .left-wrapper,
#tracklist-page .right-wrapper {
  height: 100%;
}

#tracklist-page .right-wrapper {
  max-width: 600px;
}

#tracklist-page .left-wrapper {
  position: sticky;
  top: 0;
  padding-top: 4rem;
}

#tracklist-page h1 {
  font-size: 5rem;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  letter-spacing: -2px;
}

#tracklist-page h2 {
  font-size: 3rem;
  letter-spacing: -2px;
}

#tracklist-page button {
  position: relative;
  z-index: 5;
  color: #fff;
  padding: 14px 20px;
  width: 200px;
  margin: 0px 10px;
}

#tracklist-page button:focus {
  box-shadow: none;
}

#tracklist-page .btn-play {
  background-color: #1db954;
  border-radius: 50px;
  border: none;
  transition: background-color 0.25s ease;
}

#tracklist-page .btn-play:hover {
  background-color: #24a852;
}

#tracklist-page .btn-heart {
  border: none;
  width: 40px;
  font-size: 1.5rem;
  padding: 0;
  color: rgba(255, 255, 255, 0.6);
  transform: scale(1);
  transition: color 0.25s ease, transform 0.25s ease;
}

#tracklist-page .btn-heart:hover {
  color: rgba(255, 255, 255, 0.9);
  transform: scale(1.05);
}

#tracklist-page .heart-fill {
  color: #fa2743;
}

#tracklist-page .heart-fill:hover {
  color: #fa2743;
}

#tracklist-page .btn-more {
  border: none;
  width: 40px;
  margin-top: -15px;
  font-size: 1.5rem;
  padding: 0;
  color: rgba(255, 255, 255, 0.6);
  transition: color 0.25s ease;
}

#tracklist-page .btn-more:hover {
  color: rgba(255, 255, 255, 0.9);
}

#tracklist-page .track-wrap {
  width: 100%;
  position: relative;
  padding: 10px;
  transition: background-color 0.25s ease;
  border-radius: 12px;
}

#tracklist-page .track-wrap:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

#tracklist-page .fa-music {
  position: absolute;
  top: 12px;
  left: -34px;
  color: rgba(255, 255, 255, 0.6);
}

#tracklist-page #album-cover {
  width: 350px;
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 30px rgba(0, 0, 0, 0.3);
}

#tracklist-page #num-of-songs {
  font-size: 0.7rem;
}

/*****************************************************/

/*********** ANIMATIONS ***********/

.flip-in-hor-bottom {
  -webkit-animation: flip-in-hor-bottom 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}

.swing-in-top-fwd {
  -webkit-animation: swing-in-top-fwd 0.5s
    cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s both;
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s
    both;
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

.swing-in-top-fwd-dly {
  -webkit-animation: swing-in-top-fwd 0.5s
    cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s both;
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s
    both;
}

@-webkit-keyframes swing-in-top-fwd-dly {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd-dly {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*****************************************************/
